<div class="text-center">
    <h1 class="display-4">Upload an Excel File</h1>
    <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="ExcelFileReader">
        <div class="form-group">
            <input type="file" name="file" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>

    <table class="table">
        <thead>
            <tr>
                @if(ViewBag.ExcelData != null && ViewBag.ExcelData.Count > 0)
                {
                        @foreach(var header in ViewBag.ExcelData[0])
                        {
                            <th>@header</th>
                        }
                }
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.ExcelData != null && ViewBag.ExcelData.Count > 1)
            {
                    @for(int i=1; i<ViewBag.ExcelData.Count; i++)
                    {
                            <tr>
                                @foreach(var cell in ViewBag.ExcelData[i])
                                {
                                    <td>@cell</td>
                                }
                            </tr>
                    }
            }
        </tbody>
    </table>
</div>